# Dependências (Nunca envie a pasta node_modules)
node_modules/
dist/

# Banco de Dados local (SQLite)
*.db
*.db-journal

# Uploads (Geralmente não queremos versionar os arquivos enviados pelos usuários)
uploads/

# Segredos e Variáveis de Ambiente
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# IDEs (Opcional, mas recomendado)
.vscode/
.idea/
